.game-screen {
    position: relative;
    outline: none;
}

.fancy-text {
    font-family:'Fondamento', cursive;
}

.info-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.clickable-text {
    cursor: pointer;
}

.play-btn {
    text-shadow: 2px 2px white;
}

.instructions {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    width: 64px;
    height: 64px;
    position: relative;
}

.sprite {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sprite-large {
    width: 64px;
    height: 64px;
}

.sprite-small {
    width: 32px;
    height: 32px;
}
